/* Global Attributes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header Attributes */
.header-container {
    padding: 10px;
    background-color: #1F2937;
    display: flex; 
    justify-content: space-around;
}
  
.header-links {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  font-size: 18px;
  
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links a {
  color: #e5e7eb; text-decoration: none;
}

/* Hero Attributes */
.hero-container {
  padding: 100px;
  background-color: #1F2937;
  border: solid #FFF;
  display: flex;
}

 